*{
    margin: 0;
    padding: 0;

}

body{
    background: black;
}

nav{
    background: #d60d42;
    display: flex;
    justify-content: space-between;
}

.brand{
    flex-direction: row;
}

.logo{
    max-height: 100px;
}

.menu {
    align-items: center;
}

a{
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    padding: 1em;
    border: 1px solid slateblue;
}

h1{
    max-height: 50px;
    max-width: 750px;
}

.content{
    display: block;
    margin: 25px;
    
    flex-wrap: wrap;
    
    text-decoration: wavy;
    text-decoration-color: #d60d42;
}

.free-vid{
    display: block;
    float: left;
}

.poster-box{
    display: flex;
    justify-content: space-between;
}

.poster-box img{
    margin: 10px;
    max-height: 250px;

}

.sidebar{
    float: right;
    border-color: slateblue;
    background-color: #d60d42;
    max-width: 250px;
}

.advert {
    block-size: 250px;
}

.advert-header {
    size: 100px 100px;
    max-height: 100px;
    background-color: black;
    border: 5px;
}

.sub-offer {
    float: below;
}