*{
    margin: 0;
    padding: 0;
    
}

body{
    background: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}

nav{
    max-height: 100px;
    background: #d60d42;
    display: flex;
    justify-content: space-between;
}

.brand{
    flex-direction: row;
}

.brand a{
    text-decoration: none;
    color: black;
}

.logo{
    max-height: 100px;
}

.menu {
    align-items: center;
}

.menu a{
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    padding: 1em;
    border: 1px solid slateblue;
}

.content{
    display: flex;
    margin: 25px;

    flex-direction: row; 
    justify-content: space-around; 
    text-decoration: wavy;
    text-decoration-color: #d60d42;
}

.vid-offer {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
}

.free-vid{
    float: left;
}

.free-vid h1{
    color: red;
    max-height: 35px;
}

.poster-box{
    background-color: #d60d42;
    justify-content: space-between;
}

.poster-box-list{
    display: flex;
    background-color: #d60d42;
    justify-content: space-between;
    flex-direction: column;
}

.poster-box img{
    margin: 15px;
    max-height: 250px;
}

.advert{
    margin-top: 35px;
    flex-direction: column;
    float: right;
    border-color: slateblue;
    background-color: #d60d42;
    max-width: 250px;
}

.poster-row-one img,.poster-row-two img,.poster-row-three img,.poster-row-four  img{
    margin: 15px;
    max-height: 250px;
}